<header>
    <div class="container conteudo">
        <div class="row mt-5 mb-5">
            <div class="col-md-12">
                <h1 class="text-center">Bem vindo ao meu catálogo de filmes</h1>
            </div>
        </div>
        <div class="sub-title text-center">
            <p>
                E ai? Quem não curte um filme?
            </p>
            <p>
                Então, que tal dar uma olhada no meu catálogo? Vamos ver um filme! Já preparei a pipoca.
            </p>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-12 d-flex justify-content-center">
                <button class="btn btn-principal" routerLink = '/filmes'> Catálogo de Filmes</button>
            </div>
        </div>  
    </div>

</header>

