<div class="parallax"> </div>

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Bem vindo ao meu catálogo de filmes</h1>
        </div>
    </div>
    
    <hr>
    <p>
        E ai? Quem não curte um filme?
    </p>
    <p>
        Então, que tal dar uma olhada no meu catálogo? Vamos ver um filme! Já preparei a pipoca.
    </p>
    
    <hr>

    <!-- <p>
        Esse projeto foi desenvolvido consumindo a API do <a href="https://pokemontcg.io/" target="_blank" rel="noopener noreferrer">PokemonTCG</a> (Trading Card Game). Um projeto desenvolvido pela comunidade fã de Pokemon.
    </p> -->

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink = '/filmes'> Catálogo de Filmes</button>
        </div>
    </div>  




</div>
